{% macro comment_macro(comment) %}
    <form action="{{ url_for_feedback('comment') }}" method="POST" name="comment_form">
        {% from "feedback/_feedback_macros/_feedback_macros.html" import render_field_with_errors, render_field %}
        {% include "feedback/_feedback_macros/_messages.html" %}
        {{ comment.form.hidden_tag() }}
        {{ comment.form.feedback_tag() }}
        {{ render_field_with_errors(comment.form.comment) }}
        {{ render_field(comment.form.submit) }}
    </form>
{% endmacro %}
